@import "../dist/css/bootstrap.min";
@import "../dist/css/fonts";

.navbar-inner {
	display: block;
	min-height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 0px;
	background:#2687E9;
	border: 0;
	border-radius: 0;
}
.navbar {
	color: #fff;
	padding:0;
    margin-bottom: 0;
    border: none;
}

.page {
   	margin-top: 1.5rem;
   	max-width: 940px;
   	align-content: center;
}

.form-group {
	padding: 5px;
	margin: 10px;
	
	.form-control {
	    font-size: 14px;
	    color: #385a7b;
	    box-shadow: none;
	    border: 1px solid #c9d3dd;
	}
}

.image-profile {
	display: flex;
	align-items: center;
	justify-content: center;
}

.algin-item-end{
	display: flex;
	justify-content: space-around;
}

.btn {
	padding: 8px 27px;
	white-space: nowrap;

	.btn-green {
		background-color: #4ABA58;
  	}
}

.btn-white {
	color: #385a7b;
	background: transparent;
	border: 1px solid #385a7b;
}

.btn-blue-light{
	color: #385a7b;
}


.selected .info{
	
}