<div class="home-page">

  <div class="container container-fluid page">
    <div class="row">

      <div class="col-lg-8 col-md-8 pull-left">
        <button class="btn btn-success btn-green" 
          ng-click="$ctrl.goForm = !$ctrl.goForm">
          Novo Carro
        </button>
      </div>

      <div class="col-lg-3 col-md-3 pull-right">
        <search-input search="$ctrl.paramsFilter.modelo"></search-input>
      </div>

    </div>

    <alert-message message="$ctrl.message"></alert-message>

    <div class="row" ng-show="$ctrl.goForm">
      <div class="col-lg-6 col-lg-offset-3">
        <form name="formVehicle" class="form">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="image-profile">
                <img ngf-src="vehicle.imagem" alt="Nenhuma Foto encontrada" class="img-rounded" style="width: 150px; height: 140px;">
              </div>
              <br>

              <div class="form-group">
                <input type="file" ngf-select ng-model="vehicle.imagem" name="imagem" 
                  class="form-control" placeholder="Imagem" ngf-pattern="'image/*'" ngf-accept="'image/*'">
              </div>
             
              <div
                ng-class="{ 'has-error' : formVehicle.placa.$invalid && formVehicle.placa.$dirty, 'has-success' : formVehicle.placa.$valid, 'form-group' : true }">
                <input type="text" ng-model="vehicle.placa" 
                  name="placa" ng-required="true" class="form-control" placeholder="Placa">
              </div>

              <div 
                ng-class="{ 'has-error' : formVehicle.marca.$invalid && formVehicle.marca.$dirty, 'has-success' : formVehicle.marca.$valid, 'form-group' : true }">
                <input type="text" ng-model="vehicle.marca" name="marca" ng-required="true" class="form-control" placeholder="Marca do Veículo">
              </div>

              <div 
                ng-class="{ 'has-error' : formVehicle.modelo.$invalid && formVehicle.modelo.$dirty, 'has-success' : formVehicle.modelo.$valid, 'form-group' : true }">
                <input type="text" ng-model="vehicle.modelo" name="modelo" ng-required="true" 
                  class="form-control" placeholder="Modelo do Carro">
              </div>

              <div class="form-group">
                <select class="form-control" ng-model="vehicle.combustivel" name="combustivel">
                  <option ng-repeat="gas in $ctrl.typeGases" value="{{gas.option}}">
                    {{ gas.option }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <input type="text" ng-model="vehicle.valor" name="valor" class="form-control" placeholder="0.00" ui-money-mask="mdecimals">
              </div>

            </div>
            <div class="panel-footer">
              <div>
                <div ng-hide="editing">
                  <button ng-click="$ctrl.add(vehicle)" 
                    ng-disabled="formVehicle.$invalid" class="btn btn-default">
                    Adicionar
                  </button>
                </div>
                <div ng-show="editing" class="algin-item-end">
                  <button ng-click="$ctrl.save(vehicle);" 
                    ng-disabled="formVehicle.$invalid" class="btn btn-white">
                    Salvar
                  </button>

                  <button ng-click="$ctrl.delete(vehicle)" ng-disabled="formVehicle.$invalid"
                    class="btn btn-danger">
                    Deletar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div ng-show="$ctrl.vehicles.length > 0" class="table-responsive">
          <table class="table" ng-table="$ctrl.tableParams">
            <thead>
              <th>
                <div class="checkbox">
                  <input type="checkbox" />
                  <label></label>
                </div>
              </th>
              <th>Placa</th>
              <th>Modelo</th>
              <th>Marca</th>
              <th>Foto</th>
              <th>Combustível</th>
              <th>Valor</th>
            </thead>
            <tbody>
              <tr ng-class="{'selected info': vehicle.selected}" 
                ng-repeat="vehicle in $data track by $index">
                <td>
                  <div class="checkbox">
                    <input type="checkbox" ng-model="vehicle.selected" 
                      ng-click="$ctrl.edit(vehicle)">
                    <label></label>
                  </div>
                </td>
                <td sortable="'placa'">{{ vehicle.placa | uppercase }}</td>
                <td sortable="'modelo'">{{ vehicle.modelo }}</td>
                <td sortable="'marca'">{{ vehicle.marca }}</td>
                <td>
                  <a data-toggle="modal" data-target="#myModal">
                    {{ (vehicle.imagem === null || !vehicle.hasOwnProperty('imagem')) ? "Sem Foto" : "Imagem" }}
                  </a>
                </td>
                <td sortable="'combustivel'">{{ vehicle.combustivel }}</td>
                <td sortable="'valor'">{{ vehicle.valor | currency: '' : 2 }}</td>
              </tr>
            </tbody>
          </table>
          <div ng-if="$data.length == 0">Oops, no record found!</div>
        </div>
      </div>
    </div>

  </div>

</div>
